<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Luma Automation Suite">
	<listeners>
		<listener class-name="com.luma.qa.listeners.MyListeners"></listener>
	</listeners>
  <test thread-count="5" name=" Luma TestCases">
    <classes>
      <class name="com.luma.qa.testcases.CreateAccountTest"/>
      <class name="com.luma.qa.testcases.LoginTest"/>
      <class name="com.luma.qa.testcases.SearchTest"/>
      <class name="com.luma.qa.testcases.MyAccountTest"/>
      <class name="com.luma.qa.testcases.PaymentAndCheckOutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
